<meta charset="utf-8">
<meta http-equiv="content-language" content="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{site.title}}" />
<meta property="og:title" content="{{site.title}}" />
<meta property="og:description" content="{{site.descriptions}}" />
<meta property="og:url" content="{{site.url}}" />
<meta property="og:image" content="{{site.thumbnail}}" />
<title>{{site.title}}</title>
<link rel="stylesheet" href="assets/style.css" />
<link rel="icon" href="favicon.png" type="image/x-icon">